h1 {
    text-align: center;
    margin-bottom:0;
    font-size:1.5em;
}

h2 {
    text-align: center;
    font-size:.9em;
    margin:.5em;
}

h3 {
    text-align: center;
    font-size:.8em;
    margin:.5em;
}

hr {
    width:380px;
    height:2px;
    background:black;
    margin-top:1em;
    margin-bottom:1em;
    clear:both;
}

.gameColumn {
    width:50%;
    float:left;
    margin-bottom:2em;
}

.playerMove {
    width:180px;
    float:right;
}

.playerMoveContain {
    width:80px;
    float:right;
}

.playerMoveContain img {
    width:80px;
    height:80px;
    float:right;
}

.playerMove button {
    float:right;
    height:35px;
    width:80px;
    background:white;
    border:solid black 3px;
    margin-bottom:.25em;
    font-weight: bold;
    font-size:.9em;
}

.playerMove button:hover {
    background:#dddddd;
}

.playerMove button:active {
    background:gray;
    color:white;
}

.aiMove {
    width:180px;
    float:left;
}

.aiMoveContain {
    width:80px;
    float:left;
}

.aiMoveContain img {
    width:80px;
    height:80px;
    float:left;
}

#playerMoveText, #aiMoveText {
    font-size:1em;
    text-align:center;
    font-weight: bold;
    visibility: hidden;
}

.result {
    text-align: center;
    color:red;
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:1em;
    visibility:hidden;
}

table {
    margin:auto;
    border-collapse:collapse;
}

tr {
    border-bottom: 1px solid #ddd;
    visibility:hidden;
}

tr:hover {
    background-color:#dddddd;
}

td {
    border-bottom:1px solid #ddd;
    padding:.5em;
    text-align: center;
}

@media only screen and (min-width: 450px) {
    
    h1 {
        margin-bottom:1em;
        font-size:2em;
    }

    h2 {
        font-size:1em;
        margin:.5em;
    }

    h3 {
        font-size:1em;
        margin:.5em;
    }
    
    hr {
        width:450px;
        margin-top:2em;
        margin-bottom:2em;
    }
    
    
    .playerMove {
        width:210px;
    }

    .playerMoveContain {
        width:120px;
    }

    .playerMoveContain img {
        width:120px;
        height:120px;
    }

    .playerMove button {
        height:48px;
        width:90px;
        padding:default;
        font-size:1em;
    }

    .aiMove {
        width:200px;
    }

    .aiMoveContain {
        width:120px;
    }

    .aiMoveContain img {
        width:120px;
        height:120px;
    }

    td {
        width:100px;
        
    }
    
    
}